<!DOCTYPE html>
<html>

<meta charset="utf-8">
<title>Flask JQuery</title>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}">
</head>

<body>

<div id="wrapper" class='big'></div>

<script type=text/javascript>
    var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
</script>



<div id="main" class="load-transition">

    <div id="cartoon-book-posts" class="grid-wp">
        <div class="grid-12">
            <div class="active">
                <ul class="newest">
                    <li> <a class="post" target="_blank" title="師徒" href="/cartoon/num/3-0-n-297"> <span class="number">297</span> <span>師徒</span> </a> </li>
                </ul>
                <ul class="c-post-list">
                    <div class="section">
                        <a href="javascript:;">1-100</a>
                    </div>
                    {% for chapter in chapters %}
                    <li> <a class="post" target="_blank" title="结束与开始" href="/manhua/addpic/{{ chapter.id }}"> <span class="number">未定</span> <span>
                        {{ chapter.chapter_name }}</span> </a> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>