{% import "tianwang/_rcmacros.html" as rcmacros %}
<!DOCTYPE html>
<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=0.5">
<title>Flask JQuery</title>
<!-- 插入jquery -->
{#<script src="{{url_for('static', filename='jquery-3.2.1/jquery-3.2.1.js')}}"></script>#}

{#<style type="text/css" src="{{url_for('static', filename='css/app.css')}}" ></style>#}

<body>

<div id="wrapper" class='big'></div>

<script type=text/javascript>
    var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};

</script>

{% include 'tianwang/_rclist.html' %}
{% if pagination %}
<div class="pagination">
    {{ rcmacros.pagination_widget(pagination, '.list_ys') }}
</div>
{% endif %}
</body>
</html>